#main-content{
  padding:20px;
}
.todo-card{
  display: flex;
  flex-direction: column;
  padding:50px;
  gap:20px;
  width: 100%;
}
.todo-input-card{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.todoitem{
  display: flex;
  gap:10px
}